.div1{
	width:50%;
	float:left;
	padding-left:150px;
	height:250px;
}
h1{
	color:black;
}
.div2{
width:50%;
float:right;
height:250px;
padding-top:30px;
padding-right:100px;

}
.img-back{
background-image: url(7.jpg);
 width:100%;
	height:360px;
	background-size: cover;
	position:relative;
	background-attachment:fixed;
}
 .btn-warning{
	 border-radius:8px;;
 }
 .container{
	 margin-top:5px;
 }
 
 